<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.Sairaa.onewel">
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<application
			android:name="android.support.multidex.MultiDexApplication"
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:usesCleartextTraffic="true"
			android:roundIcon="@mipmap/ic_launcher_round"
			android:supportsRtl="true"
			android:theme="@style/AppTheme"
			tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
		<activity android:name=".PaymentActivity"
		android:theme="@style/AppThemeWithNoAction"
		android:screenOrientation="portrait">
		</activity>
		<activity
				android:name=".Activities.Matrimony.ViewmatrimonyImage"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction">
		</activity>
		<activity
				android:name=".Activities.Matrimony.MatrimonyMainScreen"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction">
		</activity>
		<activity
				android:name=".Activities.Matrimony.MatrimonyRegistration"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction">
		</activity>
		<activity
				android:name=".Activities.ViewAllActivity"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction">
		</activity>
		<activity
				android:name=".Activities.ReferenceList"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction">
		</activity>
		<activity
				android:name=".Activities.UserHistory"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction">
		</activity>
		<activity
				android:name=".Activities.ViewItemActivity"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction">
		</activity>
		<activity
				android:name=".Activities.SearchListActivity"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction">
		</activity>
		<activity
				android:name=".Activities.Customer.CustomerRegistration"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction"/>
		<activity
				android:name=".Activities.Customer.CustomerPayingDetails"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction"/>
		<activity
				android:name=".Activities.Customer.CustomerVerficationStatus"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction"/>
		<activity
				android:name=".Activities.OtpActivity"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction"/>
		<uses-library
				android:name="com.google.android.maps"
				android:required="true"/>
		<activity
				android:name=".GoogleSignIN"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
				android:name=".Activities.Customer.CutomerVerification"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction"/>
		<activity
				android:name=".Activities.Promoter.PromoterRegistrationSuccess"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction"/>
		<activity
				android:name=".Activities.Add.AddShopDetails"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction"/>
		<activity
				android:name=".Activities.Add.AddSignUpPD"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction"/>
		<activity
				android:name=".Activities.Promoter.PromoterUPI"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction"/>
		<activity
				android:name=".Activities.Promoter.PromoterSignUp"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction"/>
		<activity
				android:name=".MainActivity"
				android:screenOrientation="portrait"
				android:theme="@style/AppThemeWithNoAction"/>
		<meta-data
				android:name="com.google.android.gms.version"
				android:value="@integer/google_play_services_version"/>
		<meta-data
				android:name="com.google.android.geo.API_KEY"
				android:value="@string/places_key"/>
		<provider
				android:name="android.support.v4.content.FileProvider"
				android:authorities="com.Sairaa.onewel.fileprovider"
				android:exported="false"
				android:grantUriPermissions="true">
			<meta-data
					android:name="android.support.FILE_PROVIDER_PATHS"
					android:resource="@xml/file_paths"/>
		</provider>
		<meta-data
				android:name="com.razorpay.ApiKey"
				android:value="@string/razorpaykeytext"/>
	</application>
</manifest>